* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 2rem 2rem 2rem 2rem;
}

/* Цвет фона и текста */

.BlackBackground {
    background-color: black;
    color: white;
    min-height: 250px;
}

.WhiteBackground {
    background-color: white;
    color: black;
    min-height: 250px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    margin: auto;
    line-height: 1.6;
    min-height: 100%;
}

/* Навигация */

.nav_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;
    width: 100%;
    background-color: black;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.logo_link {
    color: white;
    padding: 10px;
}

.nav_link {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    transition: all .3s linear;
    color: white;
    padding: 10px;
    border-left: 3px solid royalblue;
}

.nav_link:hover,  .logo_link:hover {
    background-color: royalblue;
    padding: 10px;
    border-radius: 2px;
}

/* Шапка */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/web.png);
    width: 100%;
    height: 70vh;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.head__container {
    width: 100%;
    max-width: 880px;
    margin: auto;
    padding-left: 380px;
}

.header__title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

.header__subtitle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    font-weight: light;
    text-align: center;
    line-height: 1.6;
}

/* Section */

.section {
    padding: 20px 0;
}

.section__header {
    margin: auto;
    text-align: center;
}

.section__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: royalblue;
}

.section__text {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto;
}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 3px 5px;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* Competition */

.competition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}

.competition__item {
    width: 380px;
}

/* Service */

.service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}

.service__item {
    margin: 10px auto;
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px;
    font-weight: bold;
}

ul {
    list-style-type: circle;
}

/* Sect */

.sect{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    text-align: left;
}

.sect__item {
    margin: 30px auto;
    padding-left: 25px;
}

.sect__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3;
}

.sect__text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto;
}

/* Footer */

.footer{
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 2rem;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Границы для страницы Портфолио*/

.border__bottom {
    border-bottom: 3px solid royalblue;
}

/*Таблица*/

table {
    border: 2px solid royalblue;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

th {
    font-size: 18px;
    font-weight: normal;
    background: black;
    color: white;
    padding: 8px;
}

.table_year {
    width: 150px;
}

.table_place {
    width: 250px;
}

.table_function {
    width: 450px;
}

td {
    background: white;
    color: black;
    padding: 8px;
    font-size: 15px;
    text-align: left;
}

tr:hover td {
    background: #ccddff;
}

caption {
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

/*Форма*/

.form {
    padding: 10px;
    text-align: left;
    align-items: center;
}

.form__position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    border: 2px solid royalblue;
}
